/* Social buttons */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/* Social button ends */